<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="Blog"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel = "stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header
        th:insert="header :: header">
</header>

<div class="container mt-5">
    <h1> Main blog </h1>
    <div th:each="postElement : ${posts}" class="alert alert-info mt-2">
        <h3 th:text="${postElement.title}"></h3>
        <p th:text="${postElement.anons}"></p>
        <a th:href="'/blog/'+${postElement.id}" class = "btn btn-warning">Read more</a>
    </div>
</div>
<div
        th:insert="footer :: footer">
</div>
</body>
</html>